// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: #1f1e1e !important;

}

h4{
  color: white;
  margin: 0 auto;
}

.content{

  width:1056px;
  margin: 0 auto;

}

.images{
  max-height: 250px;
  border: solid 5px grey;
}

.style_image {

}

.block {
  width: 260px;
  float:left;
  margin: 2px;}


.form{
  color: #ffffff;
}

.title{


}
.state{
  color: #ffffff;
}
.new_item{
  width:1056px;
  margin: 0 auto;
}
