body{

  background: url(background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container {
  height: 100%;
}

.login_container {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  max-width: 300px;
  font: 14px/1.5em ;
}

.reg_container{
  width: 15%;
  height: 90%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  max-height: 700px;
  font: 14px/1.5em ;
}

.form-label{

  margin-top: 5px;
  font-weight: 400;
  margin-bottom: 0px;
}

#content {
  position: absolute;

}

.font_overlay {
  opacity: 0.6;
  width: 90%;
  height: 90%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;


  background: #cccccc;
}

.jumbotron > .jumbotext {
  z-index: 700;
}
